BOOST_INCLUDE_DIR = "D:/tools/boost_1_64_0"
BOOST_LIB_DIR = "D:/tools/boost_1_64_0/lib64-msvc-14.1"
BOOST_USE_STATIC_LIBS = true
BOOST_VERSION = "1_64"
BOOST_TOOLSET = "vc141"
BOOST_MULTITHREADED = true

PONDER_INSTALL_DIR = "E:/private/dormouse-engine/external/ponder/install"

DIRECTX_TEX_ROOT = "E:/private/DirectXTex"

GRAPHICS_API = "dx11"
WM_API = "winapi"
